body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #ffffff;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #e7e4e4;
    color: #666666;
    padding: 10px;
    gap: 24px;
}

.page-title{
    color: #777777;
    font-weight: 600;
    font-size: 18px;
}

.nav-buttons{
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.auth-button
.shopping-list-button{
    cursor: pointer;
}