body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #ffffff;
  margin: 0
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #e7e4e4;
    color: #666666;
    padding: 10px;
    gap: 24px;
}

.page-title{
    color: #777777;
    font-weight: 600;
    font-size: 18px;
}

.nav-buttons{
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.auth-button
.shopping-list-button{
    cursor: pointer;
}

.content{
    display: flex;
    gap :20px;
    flex-direction: row;
    justify-content: center ;
    margin-top: 20px;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 20px;
    }
}

.recipe-panel{
    // background-color: green;
    display: flex;
    gap:30px;
    flex-direction: column;
}

.recipe-img{
    max-width: 100px;
    height: auto;
    margin-left: auto;
}

.recipe-card{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.btn{
    height: 45px;
    color: white;
    border-radius: 5px;
    font-size: larger;
    border: 0px;
    padding: 12px;

    @media (max-width: 1200px) {
        font-size: smaller;
    }
}

.btn-green{
    background-color: rgb(138, 191, 58);
}

.btn-red{
    background-color: rgb(219, 81, 81);
}

.new-recipe-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    // background-color: red;
}

.text-input-combo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    // background-color: red;
}

.btns{
    display: flex;
    gap: 10px;
}

.long-input{
    width: 500px;
}

.short-input{
    width: 385px;
}

input{
    // width: 350px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.new-recipe-img{
    height: 180px;
    width: auto;
}

.desc-input{
    height: 100px;
}

.ingredient-row{
    display: flex;
    gap: 20px;
    // height: 20px;
}

.ingredient-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quantity-input{
    width: 35px;
}

.btn-x {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 14px;
}